ion-modal-view
  ion-header-bar
    h1.title Happy Valentine's Day
    i.button.button-icon.icon.ion-close-round.icon-right(ng-click='ctrl.closeHelp()')
  ion-content.help-modal
    br
    p(align='center')
      | Emmy, we have been talking and planning our future a lot recently, so I made this app to take us down memory lane. I hope you enjoy it.  
      b
        | I Luyou! ^_^
    h2(align='center') How it Works
    ul.card.list
      li.item.item-icon-right
        | 1. Read your Hint
        i.icon.ion-eye
      li.item.item-icon-right
        | 2. Guess the Location
        i.icon.ion-lightbulb
      li.item.item-icon-right
        | 3. Tap "Travel" button to Go
        i.icon.ion-map
