ion-modal-view
  ion-header-bar
    h1.title Happy Valentine's Day
    i.button.button-icon.icon.ion-close-round.icon-right(ng-click='ctrl.closeHelp()')
  ion-content.help-modal
    br
    p(align='center')
      | Emmy, last year we took a walk, or I guess ride, down memory lane with this quest game.  This year I found it fitting, to look towards the future and have an adenture close to home.  Let's spend Valentine's Day together exploring the city and make some new memories today that we can revisit later. 
      br
      b I Luyou sugar, have fun! ^_^
    h2(align='center') How it Works
    ul.card.list
      li.item.item-icon-right.item-text-wrap
        | 1. Read your Hint
        i.icon.ion-eye
      li.item.item-icon-right.item-text-wrap
        | 2. Guess the Location
        i.icon.ion-lightbulb
      li.item.item-icon-right.item-text-wrap
        | 3. Travel to the Quest-ination
        i.icon.ion-android-send
