ion-modal-view
  ion-header-bar
    h1.title {{ctrl.spot.name}}
    i.button.button-icon.icon.ion-close-round.icon-right(ng-click='ctrl.closeQuest()')
  ion-content.quest-modal
    .wrapper
      p(align='center') {{ctrl.spot.hint}}
      br
      br
      input(ng-model='ctrl.guess')
      button.button.button-energized.button-full.icon-right.ion-question(ng-click='ctrl.travel()') Guess
