
<ion-header-bar class="bar-dark"><img src="img/icon.png" class="app-icon"/>
  <h1 class="title">Madness Valentine</h1><i ng-click="ctrl.openHelp()" class="button button-icon icon ion-help-circled"></i>
</ion-header-bar>
<ion-content scroll="false" class="state-map">
  <div id="map" data-tap-disabled="true"></div>
</ion-content>
<ion-footer-bar class="bar-dark"><a ng-click="ctrl.centerOnMe()" class="button button-icon icon ion-android-locate"></a><a ng-click="ctrl.openQuest()" ng-hide="ctrl.gameOver" class="button button-icon icon ion-map"></a></ion-footer-bar>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC-G2M9TU6wVyrmmm6dkHO60R9gMc1Td80&amp;sensor=true"></script>